.mainWrapper {
    margin-top: 120px;
}

#typed {
    font-size: 60px;
    font-weight: 500;
    font-family: 'BioRhyme', serif;
    letter-spacing: 1px;
}

#typed .name {
    color: #8ac9d4;
}

.connect {
    display: none;
}

.connect ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 5px !important;
}

.connect ul li {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.line div {
    width: 70px;
    height: 2px;
    background-color: black;
    margin-right: 5px !important;
    transition: width 2s;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.line div {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.connect ul li a:link,
.connect ul li a:visited {
    color: black;
}

.connect ul li i {
    font-size: 22px;
}

.about {
    margin-top: 60px;
    display: none;
    font-family: 'Space Mono', monospace;
}

.about h2 {
    text-decoration: underline;
}

.about p {
    margin-top: 20px;
    text-align: justify;
}

.about .interests {
    font-weight: 900 !important;
    color: #3c9bac;
}

.about p a:link,
.about p a:visited {
    color: #3c9bac;
    text-decoration: underline;
}

.about p a:hover {
    color: #8ac9d4;
}

.skills ul {
    margin-top: 10px;
    padding-inline-start: 20px !important;
}

.skills h6 {
    color: #1c7f91;
}

.skills .row {
    margin-top: 12px;
}

.skills .col_1,
.skills .col_2 {
    padding-top: 10px;
}

.gtotherPages {
    display: none;
    margin-top: 70px;
}

.gtotherPages ul {
    list-style-type: none;
    padding-inline-start: 0px !important;
}

.gtotherPages ul li {
    display: inline-block;
    margin-right: 60px;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
}

.gtotherPages ul li a:link,
.gtotherPages ul li a:visited {
    color: black;
    text-decoration: underline;
}

.gtotherPages ul li a:hover {
    color: #1c7f91;
}


/* at last mobile */

@media(max-width: 768px) {
    #typed {
        font-size: 26px;
        font-weight: 500;
    }
    .about h2 {
        font-size: 24px !important;
    }
    .about p {
        font-size: 14px;
        text-align: justify;
    }
    .gtotherPages ul li {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .connect ul li i {
        font-size: 18px;
    }
}

@media(max-width:678px) {
    .skills {
        margin-top: 30px;
    }
    .gtotherPages {
        margin-top: 40px;
    }
    .about {
        margin-top: 20px;
    }
}


/* articles.html */

.goHome {
    margin-top: 2rem;
    font-family: 'Space Mono', monospace;
}

.goHome .containsLink {
    display: grid;
}

.goHome a:link,
.goHome a:visited {
    color: black;
    text-decoration: underline;
    font-weight: bolder;
    text-align: right;
}

.articles {
    margin-top: 60px;
}

.articles h3 {
    font-family: 'BioRhyme', serif;
    text-decoration: underline;
}

.articles .card-header {
    background: white !important;
    border-bottom: 1px solid black;
}

.articles .card {
    margin-top: 60px;
    border: 1px solid black;
    font-family: 'Space Mono', monospace;
}

.articles .card .card-text {
    color: rgb(82, 80, 80);
}


/* projects.html */

#project_1 {
    margin-top: 120px;
}

.projects {
    margin-top: 80px;
}

.projects h3 {
    font-family: 'BioRhyme', serif;
    text-decoration: underline;
}

.projects .card-columns {
    margin-top: 60px;
}

.projects .card {
    border: 1px solid black;
    font-family: 'Space Mono', monospace;
}

.projects .card:hover {
    border: 1px solid #1c7f91;
    cursor: pointer;
    background: #8ac9d4;
}

.projects .card .card-header {
    background: white !important;
    border-bottom: 1px solid black;
    font-weight: bolder;
}

.projects .card .card-text {
    margin-top: 10px;
}

.projects .btn-outline-dark:hover {
    background: white;
    color: black;
}

@media(max-width: 768px) {
    .card-columns {
        column-count: 2 !important;
    }
}

@media(max-width: 678px) {
    .card-columns {
        column-count: 1 !important;
    }
}